<h2 mat-dialog-title>Hi There</h2>
<div style="padding: 24px; max-width: 500px;">

<mat-dialog-content>
    <p>Are you sure want to edit?</p>
</mat-dialog-content>
<mat-form-field appearance="fill">
    <mat-label>Name</mat-label>
    <input matInput [(ngModel)]="modelData().name" />
</mat-form-field>

<mat-form-field appearance="fill">
    <mat-label>Email</mat-label>
    <input matInput [(ngModel)]="modelData().email" />
</mat-form-field>

<mat-form-field appearance="fill">
    <mat-label>Phone</mat-label>
    <input matInput [(ngModel)]="modelData().phone" />
</mat-form-field>

<mat-dialog-actions>
    <button matButton="filled" color="primary" (click)="onNoClick()">No</button>
    <button matButton="filled" color="warn" [mat-dialog-close]="modelData()" cdkFocusInitial>Yes</button>
</mat-dialog-actions>

</div>